---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import About from '../components/About.astro';
---

<Layout title="Nosotros - Be Nice Fungi Shop" description="Conoce la historia, misión y valores de Be Nice Fungi Shop. Descubre nuestro compromiso con la calidad y el bienestar natural.">
  <Header />
  
  <main class="pt-20">
    <About />
  </main>

  <Footer />
</Layout>